const puppeteer = require('puppeteer');

(async () => {
  const browser = await puppeteer.launch();
  const page = await browser.newPage();
  await page.setViewport({width: 1920, height: 1080 })

  {% for item in _dashboards.stdout_lines -%}
  await page.goto('http://localhost:3000{{ item.split("|")[1] | trim }}', { waitUntil: 'networkidle0' });
  await page.screenshot({ fullPage: true, path: "/tmp/log/{{ item.split('|')[0] | replace(' ','') | trim }}.png" });
  {% endfor %}
  await browser.close();
})();
