---
files:
  #################
  # next-gen logs #
  #################
  # EDPM
  - name: ci-framework-data/logs/bmaas_console_logs/edpm-compute-01_console.log
    tags:
      - edpm_bm
  - name: ci-framework-data/logs/ci_make_000_run_input.log
    tags:
      - edpm_input
  - name: ci-framework-data/logs/ci_make_001_run_openstack.log
    tags:
      - edpm_openstack
  - name: ci-framework-data/logs/ci_make_002_run_openstack_deploy_prep.log
    tags:
      - edpm_prep
  - name: ci-framework-data/logs/ci_make_003_run_netconfig_deploy.log
    tags:
      - edpm_netconfig
  - name: ci-framework-data/logs/ci_make_004_run_edpm_baremetal_compute.log
    tags:
      - edpm_bm_compute
  - name: ci-framework-data/logs/ci_make_005_run_edpm_deploy_baremetal.log
    tags:
      - edpm_deploy_bm
  - name: ci-framework-data/logs/os_must_gather.log
    tags:
      - edpm_gather
