<Directory "/var/www/logjuicer">
  RewriteEngine On
  RewriteRule ^wsapi/(.*)$ wss://{{ logjuicer_host }}/logjuicer/wsapi/$1 [R,L]
  RewriteRule ^(.*)$ https://{{ logjuicer_host }}/logjuicer/$1 [R,L]
</Directory>
