- become: yes
  block:
    - name: Setup admin group
      ansible.builtin.group:
        name: "{{ admin_group }}"
        state: "present"

    - name: Setup additional groups
      ansible.builtin.group:
        name: "{{ item }}"
        state: "present"
      loop: "{{ bridge_groups }}"

    - name: Setup users
      ansible.builtin.user:
        name: "{{ item.value.name }}"
        append: "yes"
        groups: "{{ item.value.groups | default(omit) }}"
        state: "{{ item.value.state | default('present') }}"
      with_dict: "{{ bridge_users }}"

    - name: Setup authorized keys for users
      ansible.posix.authorized_key:
        user: "{{ item.0.key }}"
        key: "{{ item.1 }}"
      when: item.0.value.state | default('present') != 'absent'
      loop: "{{ q('subelements', q('dict', bridge_users), 'value.ssh_keys') }}"

    - name: Setup passwordless sudo for admin users
      ansible.builtin.lineinfile:
        dest: "/etc/sudoers.d/91-admin"
        create: "yes"
        mode: "0440"
        owner: "root"
        group: "root"
        regexp: "^%{{ admin_group }}"
        line: "%{{ admin_group }} ALL=(ALL) NOPASSWD: ALL"
        validate: "/usr/sbin/visudo -cf %s"

    - name: Set fact service_user user on RedHat
      ansible.builtin.set_fact:
        service_user: "cloud-user"
      when: ansible_distribution == "RedHat" or ansible_distribution == "CentOS"

    - name: Set fact service_user user on Fedora
      ansible.builtin.set_fact:
        service_user: "fedora"
      when: ansible_distribution == "Fedora"

    - name: Setup extra authorized_keys for the "{{ service_user }}" account
      ansible.posix.authorized_key:
        user: "{{ service_user }}"
        key: "{{ item }}"
      loop: "{{ bridge_extra_ssh_keys }}"
      when:
        - bridge_extra_ssh_keys is defined

    - name: Ensure sf-admin group for "{{ service_user }}"
      ansible.builtin.user:
        name: "{{ service_user }}"
        append: "yes"
        groups: "{{ admin_group }}"
