#!/bin/bash

KEEPLIST="$(/usr/local/bin/quay_tag_keeplist)"
if [ $? -ne 0 ]; then
    echo "The quay_tag_keeplist failed. Exiting."
    exit 1
fi

if [ -z "$KEEPLIST" ]; then
    echo "The quay_tag_keeplist is empty. Exiting."
    exit 1
fi

{% for user, organizations in quay_organizations.items() %}
{% for org in organizations %}
{% if 'prune_days' in org %}

/usr/local/bin/quay_tag_pruner --api-url "{{ quay_api_url }}" \
                               --days {{ org.prune_days }} \
                               --keeplist "$KEEPLIST" \
                               --allow-empty-keeplist={{ quay_allow_empty_extended_keeplist }} \
                               --token "{{ org.token }}" {{ org.name }} \
                               --confirm

{% endif %}
{% endfor %}
{% endfor %}
