#!/bin/bash
# Generates a comma separated value of tags to whitelist for the Quay RDO registry.
# We want to keep some tag names (ex: "current-tripleo") but also the hash
# that they resolve to (ex: "5466f249bd36900a1dac573cdc83e7a11493aea2_0c8f7f95")

releases="{{ quay_pruner_dlrn_endpoints | join(' ') }}"
names="{{ quay_pruner_extended_keeplist | join(' ') }}"

if [ ! -d /tmp/dlrnapi ]; then
    python3 -mvenv /tmp/dlrnapi >/dev/null
fi

source /tmp/dlrnapi/bin/activate
pip install setuptools --upgrade >/dev/null
pip install pip --upgrade >/dev/null

{% if quay_pruner_auth -%}
pip install "dlrnapi_client[kerberos] @ git+https://github.com/softwarefactory-project/dlrnapi_client.git"
export SSL_CA_BUNDLE={{ quay_pruner_auth.ca_cert | default('/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem') }}
{% else %}
pip install git+https://github.com/softwarefactory-project/dlrnapi_client.git >/dev/null
{% endif %}

{% if quay_pruner_auth -%}
kdestroy
echo -n "{{ quay_pruner_auth.sso_password }}" | kinit "{{ quay_pruner_auth.sso_username }}"
{% endif %}

output=()

for release in $releases
do
  for name in $names
  do
     output+=("$name")

     {% if quay_pruner_auth -%}
     dlrn_result=$(dlrnapi \
       --auth-method {{ quay_pruner_auth.auth_method }} \
       --server-principal {{ quay_pruner_auth.server_principal }} \
       --force-auth \
       --url https://{{ dlrn_api_host }}/${release} \
       promotion-get \
       --promote-name ${name} \
       --limit 1)
     {% else -%}
     dlrn_result=$(dlrnapi \
       --url https://{{ dlrn_api_host }}/${release} \
       promotion-get \
       --promote-name ${name} \
       --limit 1)
     {% endif -%}

     if [ $? -ne 0 ]; then
        echo -e "Can not continue. DLRN API returns exit code other than 0 in \n\n"
        echo -e "name: $name and release $release\n\n"
        exit 1
     fi

     parsed_result=$(echo "$dlrn_result" | jq -r '.[0] | (.repo_hash, .aggregate_hash)' | grep -v null)
     if [ -n "$parsed_result" ]; then
       output+=("$parsed_result")
     fi

   done
done

{% raw %}
if [ "${#output[@]}" -ne 0 ]; then
  echo "${output[@]}" | tr ' ' '\n' | sort | uniq | paste -sd ',' -
fi
{% endraw %}

{% if quay_pruner_auth -%}
kdestroy
{% endif -%}
