---
- name: Remove storage config if present
  become: true
  file:
    path: ~{{ ansible_user }}/storage.yaml
    state: absent

# FROM: https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage
- name: Add PV
  shell: |
    cat <<EOF >> ~{{ ansible_user }}/storage.yaml
    ---
    apiVersion: v1
    kind: PersistentVolume
    metadata:
      name: "{{ pv_storageclass }}00{{ zj_pv_number }}"
      labels:
        type: local
    spec:
      storageClassName: "{{ pv_storageclass }}"
      capacity:
        storage: 10Gi
      accessModes:
        - ReadWriteOnce
      hostPath:
        path: "{{ pv_host_path }}/pv00{{ zj_pv_number }}"
    EOF
  with_sequence: "{{ pv_count }}"
  loop_control:
    loop_var: zj_pv_number

- name: Ensure that main PV path directory exists
  become: true
  file:
    path: "{{ pv_host_path }}"
    state: directory
    recurse: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Create PV directories
  become: true
  file:
    path: "{{ pv_host_path }}/pv00{{ zj_pv_number }}"
    state: directory
    mode: "0777"
  with_sequence: "{{ pv_count }}"
  loop_control:
    loop_var: zj_pv_number

- name: Run PV manifest
  command: /usr/local/bin/oc apply -f ~{{ ansible_user }}/storage.yaml
