{
    "username": "{{ quay_admin_user | default('admin')}}",
    "password": "{{ quay_admin_password }}",
    "email": "{{ quay_admin_email | default('softwarefactory-operations-team@redhat.com')}}",
    "access_token": true
}
