# NOTE: clair service can not start with port 8080, becuase
# it is also a default port for quay config.
log_level: "info"
introspection_addr: 0.0.0.0:8089
http_listen_addr: 0.0.0.0:6060
indexer:
  connstring: "postgres://{{ postgresql_user }}:{{ postgresql_password }}@{{ postgresql_host | default('localhost') }}/clair?sslmode=disable"
  scanlock_retry: 10
  layer_scan_concurrency: 5
  migrations: true
matcher:
  indexer_addr: "0.0.0.0:6060"
  connstring: "postgres://{{ postgresql_user }}:{{ postgresql_password }}@{{ postgresql_host | default('localhost') }}/clair?sslmode=disable"
  migrations: true
  max_conn_pool: 100
  updater_sets:
  - "alpine"
  - "aws"
  - "debian"
  - "photon"
  - "pyupio"
  - "rhel"
  update_retention: 5
matchers:
  names:
  - "alpine"
  - "aws"
  - "debian"
  - "photon"
  - "python"
  - "rhel"
notifier:
  indexer_addr: http://0.0.0.0:6060/
  matcher_addr: http://0.0.0.0:6060/
  connstring: "postgres://{{ postgresql_user }}:{{ postgresql_password }}@{{ postgresql_host | default('localhost') }}/clair?sslmode=disable"
  migrations: true
  delivery_interval: 1m
  poll_interval: 5m
