    <Directory "/var/www">
        AllowOverride None
        Require all granted
    </Directory>

    DocumentRoot /var/www/

    Alias /icons/ "/usr/share/httpd/icons/"

    <Directory "/usr/share/httpd/icons">
        Options Indexes MultiViews FollowSymlinks
        AllowOverride None
        Require all granted
    </Directory>

    <Directory "/var/www/keys">
        Options Indexes
        AllowOverride None
        Require all granted
        IndexOptions FancyIndexing HTMLTable NameWidth=* SuppressDescription
    </Directory>

    RewriteEngine On

    # Disable caching of static or api files
    <LocationMatch "/static">
        CacheDisable on
    </LocationMatch>
    <LocationMatch "/api">
        CacheDisable on
    </LocationMatch>

    # Enable cross request for cgit content
    <Location "/cgit">
        Header set Access-Control-Allow-Origin '*'
    </Location>

        Alias "/docs/managesf" "/usr/share/doc/managesf/"
    Alias "/docs" "/usr/share/doc/software-factory/"
    <Directory "/usr/share/doc/">
        Require all granted
    </Directory>
    <Directory /var/www>
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>
    <Directory /var/www/managesf>
        Order allow,deny
        Deny from all
    </Directory>

   <IfModule mod_proxy.c>
        ProxyVia On
        ProxyRequests Off

        ProxyPass /r http://managesf.softwarefactory-project.io:8000/r nocanon retry=0
        ProxyPassReverse /r http://managesf.softwarefactory-project.io:8000/r

        RewriteRule ^/r/gitweb(.*)$  /r/plugins/gitiles/$1/ [R]


        ProxyPass /zuul http://zs.softwarefactory-project.io:9000 nocanon retry=0
        ProxyPassReverse /zuul http://zs.softwarefactory-project.io:9000

        RewriteRule ^/zuul/*$ /zuul/t/local/status [R,L]

        # Rewrite api to zuul-web

        RewriteRule ^/zuul/api/tenant/(.*)/console-stream$ ws://zs.softwarefactory-project.io:9000/api/tenant/$1/console-stream [P,L]
        RewriteRule ^/zuul/api/(.*)$ http://zs.softwarefactory-project.io:9000/api/$1 [P,L]

        Redirect "/docs/zuul" "https://zuul-ci.org/docs/zuul/11.0.0"
        Redirect "/docs/nodepool" "https://zuul-ci.org/docs/nodepool/10.0.0"

        # SF-UI: Rewrite HTML5 url to the index.html
        <Directory /usr/share/sf-ui>
            DirectoryIndex index.html
            Require all granted
            Order allow,deny
            Allow from all
        </Directory>
        # If the request match an sf-ui SPA route
        RewriteRule ^/(project|login|logout).*$ /usr/share/sf-ui/index.html [L]
        RewriteRule ^/auth/settings$ /usr/share/sf-ui/index.html [L]
        RewriteRule ^/$ /usr/share/sf-ui/index.html [L]
        # If the request match an sf-ui filename, then redirect to it
        RewriteCond /usr/share/sf-ui/%{REQUEST_FILENAME} -f
        RewriteRule .* /usr/share/sf-ui/%{REQUEST_FILENAME} [L]

        ProxyPass /manage/ http://managesf:20001/ retry=0 timeout=2400
        ProxyPassReverse /manage/ http://managesf:20001/ timeout=2400

        RewriteRule ^/etherpad$ etherpad/ [R]
        ProxyPass /etherpad/ http://127.0.0.1:9001/ retry=0
        ProxyPassReverse /etherpad/ http://127.0.0.1:9001/

        RewriteRule ^/paste$ paste/ [R]
        ProxyPass /paste http://127.0.0.1:5000/paste retry=0
        ProxyPassReverse /paste http://127.0.0.1:5000/paste

        ProxyPass /nodepool-builder/nodepool-builder.softwarefactory-project.io/ http://nodepool-builder.softwarefactory-project.io/nodepool-builder/
        ProxyPassReverse /nodepool-builder/nodepool-builder.softwarefactory-project.io/ http://nodepool-builder.softwarefactory-project.io/nodepool-builder/

        ProxyPass /nodepool-launcher/zs.softwarefactory-project.io/ http://zs.softwarefactory-project.io/nodepool-launcher/
        ProxyPassReverse /nodepool-launcher/zs.softwarefactory-project.io/ http://zs.softwarefactory-project.io/nodepool-launcher/
        ProxyPass /nodepool-launcher/ibm-bm3-nodepool-launcher.softwarefactory-project.io/ http://ibm-bm3-nodepool-launcher.softwarefactory-project.io/nodepool-launcher/
        ProxyPassReverse /nodepool-launcher/ibm-bm3-nodepool-launcher.softwarefactory-project.io/ http://ibm-bm3-nodepool-launcher.softwarefactory-project.io/nodepool-launcher/
        ProxyPass /nodepool-launcher/ibm-bm4-nodepool-launcher.softwarefactory-project.io/ http://ibm-bm4-nodepool-launcher.softwarefactory-project.io/nodepool-launcher/
        ProxyPassReverse /nodepool-launcher/ibm-bm4-nodepool-launcher.softwarefactory-project.io/ http://ibm-bm4-nodepool-launcher.softwarefactory-project.io/nodepool-launcher/

        ProxyPass /logs/ http://elk.softwarefactory-project.io:31215/logs/
        ProxyPassReverse /logs/ http://elk.softwarefactory-project.io:31215/logs/

        ProxyPass /logs-raw/ http://elk.softwarefactory-project.io:31215/logs-raw/
        ProxyPassReverse /logs-raw/ http://elk.softwarefactory-project.io:31215/logs-raw/
        RewriteRule ^/codesearch$ codesearch/ [R]
        ProxyPass /codesearch/ http://elk.softwarefactory-project.io:6080/
        ProxyPassReverse /codesearch/ http://elk.softwarefactory-project.io:6080/

        ProxyPass /auth/ http://managesf.softwarefactory-project.io:38080/auth/
        ProxyPassReverse /auth/ http://managesf.softwarefactory-project.io:38080/auth/

        ProxyPreserveHost On
        AllowEncodedSlashes NoDecode

        ProxyPass /cgit http://managesf.softwarefactory-project.io:37920/cgit
        ProxyPassReverse /cgit http://managesf.softwarefactory-project.io:37920/cgit

        ProxyPass /zuul-capacity http://zs.softwarefactory-project.io:9101 nocanon retry=0
        ProxyPassReverse /zuul-capacity http://zs.softwarefactory-project.io:9101
        <Proxy *>
            Options FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
        </Proxy>

    </IfModule>

    <Directory /var/www/nodepool>
        IndexOptions FancyIndexing FoldersFirst
        Options MultiViews Indexes
        AllowOverride None
        Order allow,deny
        Allow from all
    </Directory>



    <Location "/auth">
        RequestHeader add "X-forwarded-proto" "https"
        RequestHeader set x-ssl-client-cert "%{SSL_CLIENT_CERT}s"
    </Location>

    <Location "/manage">
        RequestHeader unset X-Remote-User
        AuthType oauth20
        Require valid-user
        RequestHeader set X-Remote-User %{REMOTE_USER}s
    </Location>

    <Location "/manage/v2/configurations">
        Allow from All
        Satisfy Any
    </Location>

    # Enable "anonymous" access to read resources.
    <Location "/manage/v2/resources">
        RequestHeader unset X-Remote-User
        AuthType oauth20
        <RequireAny>
            <RequireAll>
                Require valid-user
                Require method POST
            </RequireAll>
            <RequireAll>
                Require method GET
            </RequireAll>
        </RequireAny>
        RequestHeader set X-Remote-User %{REMOTE_USER}s
    </Location>

    <Location "/manage/about">
        Allow from All
        Satisfy Any
    </Location>

# Needed for redirection to work
    <Location "/redirect">
        AuthType openid-connect
        require valid-user
    </Location>
