ServerSignature Off
ServerTokens Prod

Listen {{ anubis_target_port }}

<VirtualHost *:{{ anubis_target_port }}>

    ServerName softwarefactory-project.io
    <IfModule mod_proxy.c>
        ProxyPass /cgit http://managesf.softwarefactory-project.io:37920/cgit
        ProxyPassReverse /cgit http://managesf.softwarefactory-project.io:37920/cgit
        ProxyPass /r/plugins/gitiles http://managesf.softwarefactory-project.io:8000/r/plugins/gitiles nocanon retry=0
        ProxyPassReverse /r/plugins/gitiles http://managesf.softwarefactory-project.io:8000/r/plugins/gitiles
        RewriteRule ^/r/gitweb(.*)$  /r/plugins/gitiles/$1/ [R]
    </IfModule>
</VirtualHost>

<VirtualHost *:80>
    ServerName softwarefactory-project.io
    HostnameLookups On
    RewriteEngine On

    Alias /.well-known/acme-challenge /var/www/challenges/softwarefactory-project.io
    # Enforce HTTPS for non-internal requests. HostnameLookups is required,
    # otherwise REMOTE_HOST contains only the IP address
    RewriteCond %{HTTPS} off
    RewriteCond %{REQUEST_URI} !=/server-status
    RewriteCond %{REMOTE_HOST} !softwarefactory-project.io$
    RewriteCond %{REQUEST_URI} !\.well-known/acme-challenge
    RewriteRule (.*) https://softwarefactory-project.io%{REQUEST_URI} [R=301,L]

    Include conf.d/gateway.common
</VirtualHost>

<VirtualHost *:443>
   ServerName softwarefactory-project.io
    HostnameLookups On
    RewriteEngine On

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/pem/softwarefactory-project.io.pem
    SSLCertificateChainFile /etc/letsencrypt/pem/softwarefactory-project.io.pem
    SSLCertificateKeyFile /var/lib/software-factory/bootstrap-data/acme-tiny/softwarefactory-project.io.key
    # SSLCertificateKeyFile /etc/letsencrypt/keys/softwarefactory-project.io.key
    Include conf.d/headers.conf

    OIDCOAuthRemoteUserClaim    preferred_username
    OIDCRemoteUserClaim    preferred_username
    OIDCOAuthClientID           managesf
    OIDCClientID           managesf
    # Bug in mod_auth_openidc, fixed in later versions
    OIDCClientSecret           dummy
    OIDCRedirectURI https://softwarefactory-project.io/redirect/oauth2callback
    OIDCCryptoPassphrase {{ lookup('password', '/dev/null chars=ascii_letters,digits') | to_uuid }}
    OIDCResponseType        id_token
    OIDCProviderMetadataURL     https://softwarefactory-project.io/auth/realms/SF/.well-known/openid-configuration
    OIDCOAuthVerifyJwksUri     https://softwarefactory-project.io/auth/realms/SF/protocol/openid-connect/certs

    # Required by Anubis
    RequestHeader set "X-Real-Ip" expr=%{REMOTE_ADDR}
    RequestHeader set X-Forwarded-Proto "https"
    RequestHeader set "X-Http-Version" "%{SERVER_PROTOCOL}s"

    # Make sure Anubis URLs are redirected to Anubis
    ProxyPass /.within.website http://localhost:8082/.within.website
    ProxyPassReverse /.within.website http://localhost:8082/.within.website

    # Anubis-protected endpoints
    ProxyPass /cgit http://localhost:8082/cgit
    ProxyPassReverse /cgit http://localhost:8082/cgit
    ProxyPass /r/plugins/gitiles http://localhost:8082/r/plugins/gitiles
    ProxyPassReverse /r/plugins/gitiles http://localhost:8082/r/plugins/gitiles

    # Everything else like before
    Include conf.d/gateway.common
</VirtualHost>
