local_cloudname: {{ item.baremetal_name }}
standalone_host: {{ item.baremetal_ip }}
public_api: {{ item.baremetal_ip }}
public_nic: bond1
primary_nic_state: up
rhsm_enabled: true
rhsm_ephemeral: false
ceph_enabled: false
redhat_registry_credentials:
  username: "{{ redhat_registry_username }}"
  password: "{{ redhat_registry_password }}"
nodepool_password: "{{ item.password }}"
openshift_password: "{{ shiftstack_openstack_password }}"
hostonly_cidr: "{{ item.hostonly_cidr }}"
neutron_mtu: 1500
ctlplane_mtu: 1500
hostonly_mtu: 1500
public_mtu: 1500
extra_heat_resource_registry:
  OS::TripleO::Services::HeatEngine: /usr/share/openstack-tripleo-heat-templates/deployment/heat/heat-engine-container-puppet.yaml
  OS::TripleO::Services::HeatApi: /usr/share/openstack-tripleo-heat-templates/deployment/heat/heat-api-container-puppet.yaml
extra_heat_params:
  NovaLibvirtCPUMode: "host-passthrough"
  ExtraFirewallRules:
    '168 allow squid':
      dport: 3128
      proto: tcp
      action: insert
authorized_keys:
  - https://github.com/dulek.keys
  - https://github.com/EmilienM.keys
  - https://github.com/gryf.keys
  - https://github.com/MaysaMacedo.keys
  - https://github.com/mandre.keys
  - https://github.com/mdbooth.keys
  - https://github.com/pierreprinetti.keys
  - https://github.com/stephenfin.keys
