---
# TODO: implement these tasks as part of the sf-operator
# there is nothing special being done here, everything can be discovered from the main cr.
- name: Create a namespace
  ansible.builtin.shell: |
    oc create namespace {{ executor_namespace }}
    oc adm policy add-scc-to-user privileged system:serviceaccount:{{ executor_namespace }}:default
  environment:
    KUBECONFIG: "{{ executor_kubeconfig }}"

- name: Synchronize default secrets from the control plane
  ansible.builtin.shell: |
    KUBECONFIG={{ kubeconfig }} oc get secrets {{ item }} -o json | jq --arg name {{ item }} '. + {metadata: {name: $name}}' | \
    env KUBECONFIG={{ executor_kubeconfig }} oc apply -n {{ executor_namespace }} -f -
  loop:
    - ca-cert
    - zookeeper-client-tls
    - zuul-ssh-key
    - zuul-keystore-password

- name: Synchronize extra secrets from the SF control plane
  ansible.builtin.shell: |
    KUBECONFIG={{ kubeconfig }} oc get secrets {{ item }} -o json | jq --arg name {{ item }} '. + {metadata: {name: $name}}' | \
    KUBECONFIG={{ executor_kubeconfig }} oc apply -n {{ executor_namespace }} -f -
  loop: "{{ extra_secrets }}"

- name: Synchronize config-maps from the SF control plane
  ansible.builtin.shell: |
    KUBECONFIG={{ kubeconfig }} oc get cm {{ item }} -o json | jq --arg name {{ item }} '. + {metadata: {name: $name}}' | \
    KUBECONFIG={{ executor_kubeconfig }} oc apply -n {{ executor_namespace }} -f -
  loop: "{{ extra_configmaps }}"

- name: Expose the finger port
  kubernetes.core.k8s:
    kubeconfig: "{{ executor_kubeconfig }}"
    namespace: "{{ executor_namespace }}"
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: zuul-executor-lb
      spec:
        ports:
          - name: zuul-executor-7900
            port: 7900
            protocol: TCP
            targetPort: 7900
        selector:
          app: sf
          run: zuul-executor
        type: LoadBalancer
