#!/bin/bash

set -x

SF_INFRA_REPO_DIR=${SF_INFRA_REPO_DIR:$1}
UPDATE_SF_INFRA_REPO=${UPDATE_SF_INFRA_REPO:'true'}
export ANSIBLE_LOG_PATH=${ANSIBLE_LOG_PATH:-"/var/log/crc-snapshot/$(date +%d-%m-%Y-%H_%M_%S)-promote-{{ cloud_def.crc_cloud_name }}.log"}
export ANSIBLE_CONFIG=${ANSIBLE_CONFIG:-'~/.ansible.cfg'}

if [ -z "$SF_INFRA_REPO_DIR" ]; then
    SF_INFRA_REPO_DIR="$(realpath ~/sf-infra)"
fi

if [ -d "$SF_INFRA_REPO_DIR" ]; then
    cd "$SF_INFRA_REPO_DIR";
    git reset --hard;
    git pull
else
    git clone https://softwarefactory-project.io/r/software-factory/sf-infra "$SF_INFRA_REPO_DIR"
fi

{% if cloud_def.crc_extracted_crc %}
# Extracted:
ansible-playbook \
    -e "ssh_pub_path={{ cloud_def.crc_ssh_pub_path | default('~/.ssh/id_ed25519.pub') }}" \
    -e "final_image_prefix={{ cloud_def.crc_extracted_final_image_prefix | default('coreos-crc-extracted-latest') }}" \
    -e "normal_image_prefix={{ cloud_def.crc_extracted_normal_image_prefix | default('coreos-crc-extracted-') }}" \
    -e "cloud_name={{ cloud_def.crc_cloud_name }}" \
    -e "image_ssh_user=core" \
    "$SF_INFRA_REPO_DIR/playbooks/crc/promote-crc-image.yaml"
{% endif %}

{% if cloud_def.crc_nested_crc %}
# Nested:
ansible-playbook \
    -e "ssh_pub_path={{ cloud_def.crc_ssh_pub_path | default('~/.ssh/id_ed25519.pub') }}" \
    -e "final_image_prefix={{ cloud_def.crc_nested_final_image_prefix | default('centos-9-crc-latest') }}" \
    -e "normal_image_prefix={{ cloud_def.crc_extracted_normal_image_prefix | default('centos-9-crc-') }}" \
    -e "image_ssh_user=zuul" \
    -e "cloud_name={{ cloud_def.crc_cloud_name }}" \
    "$SF_INFRA_REPO_DIR/playbooks/crc/promote-crc-image.yaml"
{% endif %}
