- name: Update sf_infra_secret_age metrics
  become: true
  shell: >-
    {{ python_binary | default("python") }} ~{{ ansible_user }}/src/softwarefactory-project.io/software-factory/sf-infra/tools/secret-age.py
    {{ sf_infra_secret_age_files | join(' ') }}
    > /var/lib/node_exporter/textfile_collector/secret_age.prom
  args:
    chdir: "{{ sf_infra_secret_age_files[0] | dirname }}"
