---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    dashboards: sf-observability
    folders: sf-observability
    datasources: sf-observability
spec:
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_USER
                  valueFrom:
                    secretKeyRef:
                      key: GF_SECURITY_ADMIN_USER
                      name: grafana-credentials
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: GF_SECURITY_ADMIN_PASSWORD
                      name: grafana-credentials
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                  - ALL
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
  config:
    log:
      mode: "console"
    auth:
      disable_login_form: "false"
    server:
      root_url: https://{{ grafana_public_HTTP_endpoint }}{{ grafana_public_path }}
      domain: {{ grafana_public_HTTP_endpoint }}
{% if grafana_public_path is defined and grafana_public_path != "/" %}
      serve_from_sub_path: "true"
{% endif %}