apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
- name: grafana-credentials
  literals:
    - GF_SECURITY_ADMIN_USER={{ grafana_admin_user }}
    - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}

patches: []