---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: grafana
spec:
  host: {{ grafana_public_HTTP_endpoint }}
  path: {{ grafana_public_path }}
  port:
    targetPort: grafana
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: grafana-service
    weight: 100
  wildcardPolicy: None
