[microshift-rpms]
name=Puddle of Microshift RPMs
baseurl=https://mirror.openshift.com/pub/openshift-v4/$basearch/microshift/ocp-dev-preview/latest-{{ microshift_version }}/el8/os/
enabled=0
gpgcheck=0
skip_if_unavailable=1
