{% if additional_datasources is defined and additional_datasources %}
apiVersion: 1
datasources:
{{ additional_datasources |  selectattr('url', 'defined') | selectattr('url', '!=' , '') | to_yaml }}
{% endif %}
