apiVersion: 1
datasources:
-  access: 'proxy'
   editable: true
   isDefault: true
   name: 'prometheus'
   orgId: 1
   type: 'prometheus'
   url: '{{ prometheus_public_url }}'
   version: 1
{% if vexxhost_prometheus | default(False) %}
- access: proxy
  editable: true
  isDefault: false
  name: prometheus-vexxhost
  orgId: 1
  type: prometheus
  url: '{{ vexxhost_prometheus.url }}'
  basicAuth: true
  basicAuthUser: '{{ vexxhost_prometheus.user }}'
  withCredentials: false
  secureJsonFields:
    basicAuthPassword: "{{ vexxhost_prometheus.password }}"
  readOnly: false
  version: 1
{% endif %}
{% if opensearch_rdo_readonly | default(False) %}
- orgId: 1
  name: opensearch-rdoproject-zuul
  type: grafana-opensearch-datasource
  access: proxy
  url: https://opensearch.rdoproject.org/elasticsearch
  basicAuth: true
  basicAuthUser: {{ opensearch_rdo_readonly.user }}
  withCredentials: true
  isDefault: false
  jsonData:
    database: zuul.rdoproject.org-*
    flavor: opensearch
    maxConcurrentShardRequests: 5
    pplEnabled: true
    timeField: '@timestamp'
    version: 2.4.0
  # NOTE: Set the password also via Web interface
  secureJsonFields:
    basicAuthPassword: {{ opensearch_rdo_readonly.password }}
  version: 7
  editable: true
- orgId: 1
  name: opensearch-rdoproject-logstash
  type: grafana-opensearch-datasource
  access: proxy
  url: https://opensearch.rdoproject.org/elasticsearch
  basicAuth: true
  basicAuthUser: {{ opensearch_rdo_readonly.user }}
  withCredentials: true
  isDefault: false
  jsonData:
    database: logstash-rdoproject_org-*
    flavor: opensearch
    maxConcurrentShardRequests: 5
    pplEnabled: true
    timeField: '@timestamp'
    version: 2.4.0
  # NOTE: Set the password also via Web interface
  secureJsonFields:
    basicAuthPassword: {{ opensearch_rdo_readonly.password }}
  editable: true
{% endif %}
{% if nextgen_openshift_prometheus | default(false) %}
- orgId: 1
  name: Prometheus-openshift
  type: prometheus
  access: proxy
  url: {{ nextgen_openshift_prometheus.url }}
  basicAuth: false
  withCredentials: false
  isDefault: false
  jsonData:
    exemplarTraceIdDestinations: []
    httpHeaderName1: Authorization
    httpMethod: POST
    oauthPassThru: false
    prometheusType: Thanos
    tlsAuth: false
    tlsAuthWithCACert: false
    tlsSkipVerify: false
  secureJsonFields:
    # NOTE: Set the credentials via browser, where:
    # Header: Authorization
    # value: Bearer <token>
    httpHeaderValue1: true
  editable: true
{% endif %}
{% if opensearch_softwarefactory_readonly | default(False) %}
- orgId: 1
  name: opensearch-softwarefactoryproject-logstash
  type: grafana-opensearch-datasource
  access: proxy
  url: https://opensearch.rdoproject.org/elasticsearch
  basicAuth: true
  basicAuthUser: {{ opensearch_softwarefactory_readonly.user }}
  withCredentials: true
  isDefault: false
  jsonData:
    database: logstash-softwarefactory_project_io-*
    flavor: opensearch
    maxConcurrentShardRequests: 5
    pplEnabled: true
    timeField: '@timestamp'
    version: 2.4.0
  # NOTE: Set the password also via Web interface
  secureJsonFields:
    basicAuthPassword: {{ opensearch_softwarefactory_readonly.password }}
  editable: true
{% endif %}
- id: 13
  orgId: 1
  name: Graphite-opendev
  type: graphite
  access: proxy
  url: https://graphite.opendev.org
  basicAuth: false
  withCredentials: false
  isDefault: false
  jsonData:
    graphiteType: default
    graphiteVersion: "1.1"
  version: 8
  readOnly: false
  editable: true
{% if graphql_dlrn_releases is defined and graphql_dlrn_releases %}
## GraphQL
{% for release in graphql_dlrn_releases -%}
- orgId: 1
  name: GraphQL Centos 9 {{ release }}
  type: fifemon-graphql-datasource
  access: proxy
  url: https://trunk.rdoproject.org/api-centos9-{{ release }}/api/graphql
  basicAuth: false
  withCredentials: false
  isDefault: false
  readOnly: false
  editable: true
{% endfor %}
{% endif %}
