#!/bin/bash

COLLECTOR_DIR=/var/lib/node_exporter/textfile_collector
WORKERS=({% for worker in rdo_trunk_workers -%} "{{ worker }}" {% endfor -%})

{% raw %}
rm -f ${COLLECTOR_DIR}/dlrn_metrics.prom.$$

TODAY=$(date +%F)
TOMORROW=$(date +%F --date='tomorrow')

for worker in "${WORKERS[@]}"; do
    STATS=$(curl "https://trunk.rdoproject.org/api-${worker}/api/metrics/builds?start_date=${TODAY}&end_date=${TOMORROW}")
    SUCCEEDED=$(echo $STATS | jq .succeeded)
    FAILED=$(echo $STATS | jq .failed)
    TOTAL=$(echo $STATS | jq .total)
    echo "dlrn_metrics_succeeed{worker=\"${worker}\"} $SUCCEEDED" >> ${COLLECTOR_DIR}/dlrn_metrics.prom.$$
    echo "dlrn_metrics_failed{worker=\"${worker}\"} $FAILED" >> ${COLLECTOR_DIR}/dlrn_metrics.prom.$$
    echo "dlrn_metrics_total{worker=\"${worker}\"} $TOTAL" >> ${COLLECTOR_DIR}/dlrn_metrics.prom.$$
done

mv ${COLLECTOR_DIR}/dlrn_metrics.prom.$$ ${COLLECTOR_DIR}/dlrn_metrics.prom
{% endraw %}
