#!/bin/bash

COLLECTOR_DIR=/var/lib/node_exporter/textfile_collector
WORKERS=({% for worker in rdo_trunk_workers -%} "{{ worker }}" {% endfor -%})
SYMLINKS=({% for symlink in rdo_trunk_symlinks -%} "{{ symlink }}" {% endfor -%})

{% raw %}
rm -f ${COLLECTOR_DIR}/dlrn_builds.prom.$$

for worker in ${WORKERS[@]}; do
  for symlink in ${SYMLINKS[@]}; do
    TIMESTAMP=$(/usr/local/bin/get-dlrn-status-date.sh ${worker} ${symlink} 2> /dev/null)
    echo "dlrn_last_build{worker=\"${worker}\", symlink=\"${symlink}\"} $TIMESTAMP" >> ${COLLECTOR_DIR}/dlrn_builds.prom.$$
  done
done

mv ${COLLECTOR_DIR}/dlrn_builds.prom.$$ ${COLLECTOR_DIR}/dlrn_builds.prom
{% endraw %}
