---
- name: Check if Calico was not deployed earlier
  stat:
    path: "{{ calico_config_dir }}/calicoctl.yaml"
  register: _calico_resource

- name: Setup Calico
  become: true
  block:
    - name: Make calico directory in Kubernedes directory
      file:
        path: "{{ calico_config_dir }}"
        state: directory

    - name: Get calico manifests
      get_url:
        url: "https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/{{ item }}"
        dest: "/etc/kubernetes/calico/{{ item }}"
      loop:
        - tigera-operator.yaml
        - calicoctl.yaml

    # https://projectcalico.docs.tigera.io/maintenance/image-options/alternate-registry
    - name: Replace repository from docker to quay.io
      shell: |
        sed -i 's#image: calico/ctl:#image: quay.io/calico/ctl:#g' {{ calico_config_dir }}/calicoctl.yaml
      when: replace_docker_registry

    - name: Install operator
      shell: |
        kubectl create -f /etc/kubernetes/calico/tigera-operator.yaml

    - name: Install custom resources
      shell: |
        kubectl create -f /etc/kubernetes/calico/calicoctl.yaml

  when: not _calico_resource.stat.exists
