---
# https://metallb.universe.tf/installation/
- name: Patch kube-proxy
  become: true
  shell: |
    kubectl get configmap kube-proxy -n kube-system -o yaml | \
    sed -e "s/strictARP: false/strictARP: true/" | \
    kubectl apply -f - -n kube-system

- name: Deploy manifest
  become: true
  shell: |
    kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/{{ metallb_version }}/config/manifests/metallb-native.yaml

# https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#a-pure-software-solution-metallb
- name: Create sample ip network pool
  become: true
  copy:
    content: |
      ---
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: default
        namespace: metallb-system
      spec:
        addresses:
        - 203.0.113.10-203.0.113.250
        autoAssign: true
      ---
      apiVersion: metallb.io/v1beta1
      kind: L2Advertisement
      metadata:
        name: default
        namespace: metallb-system
      spec:
        ipAddressPools:
        - default
    dest: "{{ local_storage_config_dir }}/metallb-network-pool.yaml"

- name: Apply manifest
  become: true
  shell: |
    kubectl apply -f {{ local_storage_config_dir }}/metallb-network-pool.yaml

# NOTE: helpful link https://www.cloud-native-everything.com/ingress-and-metallb/
# to verify that step: kubectl get svc -n ingress-nginx
- name: Patch nginx controller service
  become: true
  shell: |
    kubectl -n ingress-nginx patch service ingress-nginx-controller -p '{"spec":{"type": "LoadBalancer", "externalTrafficPolicy":"Local"}}'

# Next steps:
# kubectl -n default patch service zuul-web  -p '{"spec":{"type": "LoadBalancer", "externalTrafficPolicy":"Local"}}'
# echo "$(kubectl get svc -n ingress-nginx  ingress-nginx-controller | tail -n1 | awk '{print $4}') zuul.default.sftests.com" >> /etc/hosts
# More info: https://www.cloud-native-everything.com/ingress-and-metallb/
