---
- name: Setup kubernetes repository
  become: true
  copy:
    content: |
      [kubernetes]
      name=Kubernetes
      baseurl=https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_repo_version }}/rpm/
      enabled=1
      gpgcheck=1
      gpgkey=https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_repo_version }}/rpm/repodata/repomd.xml.key
    dest: /etc/yum.repos.d/kubernetes.repo

- name: Install required packages
  become: true
  yum:
    name:
      - kubelet
      - kubeadm
      - kubectl
    state: present
    update_cache: true
    disable_excludes: kubernetes

- name: Enable kubelet service
  become: true
  service:
    name: kubelet
    state: started
    enabled: true
