gearman-host: "{{ inventory_hostname }}"
gearman-port: "{{ external_elk['gearman_port'] }}"
output-host: "{{ external_elk['opensearch_host'] }}"
output-port: "{{ external_elk['opensearch_logstash_port'] }}"
output-mode: tcp
