[Unit]
Description=Job logs gearman worker for {{ external_elk['infra_name'] }}
After=syslog.target network.target

[Service]
Type=simple
Restart=on-failure
User=joblogsworker
Group=joblogsworker
SyslogIdentifier=joblogs-gearman-worker-{{ external_elk['infra_name'] }}
ExecStart=/usr/bin/log-gearman-worker.py -c /etc/log-gearman-worker/config-{{ external_elk['infra_name'] }}.yml --foreground -d /var/log/log-gearman-worker/worker-{{ external_elk['infra_name'] }}.log

[Install]
WantedBy=multi-user.target
