---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
  labels:
    app: observability
    run: minio
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi
{% if minio_storageClassName is defined %}
  storageClassName: {{ minio_storageClassName }}
{% endif %}