---
apiVersion: v1
kind: Service
metadata:
  name: minio
  labels:
    app: observability
    run: minio
{% for key, value in minio_extra_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% if minio_extra_annotations is defined %}
  annotations:
{% endif %}
{% for key, value in minio_extra_annotations.items() %}
    {{ key }}: {{ value }}
{% endfor %}
spec:
  ports:
    - name: minio-console
      port: 9090
      targetPort: 9090
    - name: minio-api
      port: 9000
      targetPort: 9000
  selector:
    app: observability
    run: minio
{% for key, value in minio_extra_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
