---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ minio_pvc_name }}
  labels:
    app: observability
    run: minio
{% for key, value in minio_extra_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% if minio_extra_annotations is defined %}
  annotations:
{% endif %}
{% for key, value in minio_extra_annotations.items() %}
    {{ key }}: {{ value }}
{% endfor %}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi
{% if minio_storageClassName is defined %}
  storageClassName: {{ minio_storageClassName }}
{% endif %}