---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: minio
{% for key, value in minio_extra_route_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% for key, value in minio_extra_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
  name: minio-route-api
  annotations:
    haproxy.router.openshift.io/rewrite-target: /
{% for key, value in minio_extra_annotations.items() %}
    {{ key }}: {{ value }}
{% endfor %}
spec:
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  host: {{ minio_public_HTTP_api_endpoint }}
  path: {{ minio_public_api_path }}
  port:
    targetPort: minio-api
  to:
    kind: Service
    name: minio
    weight: 100
  wildcardPolicy: None