---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: minio
  name: minio-route
  annotations:
    haproxy.router.openshift.io/rewrite-target: /
spec:
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  host: {{ minio_public_HTTP_endpoint }}
  path: {{ minio_public_path }}
  port:
    targetPort: minio-api
  to:
    kind: Service
    name: minio
    weight: 100
  wildcardPolicy: None