---
cache:
  expiration:
    server: 5
    port: 5
    floating-ip: 5
clouds:
  nodepool-tripleo:
    auth:
      username: zuul
      password: {{ vexxhost_rdo.password }}
      project_name: nodepool-tripleo
      user_domain_name: Default
      project_domain_name: default
      auth_url: https://identity.rdo.mtl2.vexxhost.net/
    region_name: "RegionOne"
