[defaults]
gathering = smart
roles_path = ~/sf-infra/roles/

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60 -o StrictHostKeyChecking=no
pipelining = true
retries = 3
