<VirtualHost *:80>
    ServerName {{ fqdn }}
    HostnameLookups On
    RewriteEngine On
    DocumentRoot /var/www/logs
</VirtualHost>
{% if _tls_cert.stat.exists %}

<VirtualHost *:443>
    ServerName {{ fqdn }}
    HostnameLookups On
    RewriteEngine On
    DocumentRoot /var/www/logs

    <Directory "/var/www/logs/">
        Options Indexes SymLinksIfOwnerMatch
        Require all granted
        IndexOptions FancyIndexing HTMLTable NameWidth=* SuppressDescription
    </Directory>

    Header set Access-Control-Allow-Origin "*"

    SSLEngine on
    SSLCertificateFile {{ le_base_path }}/{{ fqdn }}/cert.pem
    SSLCertificateChainFile {{ le_base_path }}/{{ fqdn }}/fullchain.pem
    SSLCertificateKeyFile {{ le_base_path }}/{{ fqdn }}/privkey.pem
</VirtualHost>
{% endif %}
