#!/bin/bash

set -x

SF_INFRA_REPO_DIR=${SF_INFRA_REPO_DIR:$1}
UPDATE_SF_INFRA_REPO=${UPDATE_SF_INFRA_REPO:'true'}
ANSIBLE_LOG_PATH=${ANSIBLE_LOG_PATH:-"{{ crc_ansible_log_dir }}/$(date +%d-%m-%Y-%H_%M_%S)-sync.log"}
ANSIBLE_CONFIG=${ANSIBLE_CONFIG:-'~/.ansible.cfg'}

if [ -z "$SF_INFRA_REPO_DIR" ]; then
    SF_INFRA_REPO_DIR="$(realpath {{ crc_sf_infra_repo_dir }})"
fi

if [ -d "$SF_INFRA_REPO_DIR" ]; then
    cd "$SF_INFRA_REPO_DIR";
    git reset --hard;
    git pull
else
    git clone https://softwarefactory-project.io/r/software-factory/sf-infra "$SF_INFRA_REPO_DIR"
fi

ansible-playbook \
    -e "upstream_cloud_name={{ upstream_cloud_name }}" \
    -e "remote_cloud_names={{ remote_cloud_names | replace(' ', '') }}" \
    -e "sync_extracted_qcow2_dir={{ crc_sync_extracted_qcow2_dir }}" \
    "$SF_INFRA_REPO_DIR/playbooks/sync-crc-images.yaml"
