NameVirtualHost *:80

<VirtualHost *:80>
ServerName {{ service_public_hostname }}

SetOutputFilter DEFLATE


RewriteEngine  on
RewriteRule    "^/$"  "/index.html"  [R]

<LocationMatch "/home.html">
    Order Allow,Deny
    Allow from all

    AuthType mod_auth_pubtkt
    TKTAuthFakeBasicAuth on
    TKTAuthLoginURL /auth/login
    TKTAuthDebug 1
    require valid-user
</LocationMatch>

<Location /.well-known/acme-challenge/>
  RewriteEngine off
  ProxyPass !
</Location>

<Location "/">
    RequestHeader unset X-Remote-User
    <If "%{HTTP_COOKIE} =~ /auth_pubtkt=.*/">
        AuthType mod_auth_pubtkt
        TKTAuthLoginURL /auth/login
        TKTAuthFakeBasicAuth on
        TKTAuthDebug 1
        require valid-user
        RequestHeader set X-Remote-User %{REMOTE_USER}s
    </If>
</Location>

<IfModule mod_proxy.c>
    ProxyPass / http://0.0.0.0:20002/
    ProxyPassReverse / http://0.0.0.0:20002/
</IfModule>
RewriteCond %{SERVER_NAME} ={{ service_public_hostname }}
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
