---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: observability
    component: gateway
    run: loki
  name: loki-gateway
  namespace: sf-observability
spec:
  host: {{ loki_public_HTTP_endpoint }}
  path: {{ loki_public_path }}
  port:
    targetPort: http
  to:
    kind: Service
    name: loki-gateway
    weight: 100
  wildcardPolicy: None