{% if item.filename.startswith('koji') %}
koji_host: "{{ item.instances[0] }}"
www_dir: "{{ item.www_dir }}"
sf_releases:
{% for release in item.sf_releases %}
  - "{{ release }}"
{% endfor %}
{% else %}
sf_hosts:
{% for instance in item.instances %}
  - "{{ instance }}"
{% endfor %}
remote_dir: "{{ item.remote_dir | default ('/var/lib/software-factory/backup/') }}"
run_sf_backup: {{ item.run_sf_backup | default('yes') }}
{% endif %}
local_dir: "/var/lib/backup/hosts/{{ item.instances[0] }}/"
bup_dir: "/var/lib/backup/bup/{{ item.instances[0] }}/"
