[defaults]
callback_whitelist = profile_tasks, timer
fact_caching_connection = ~/.cache/ansible/facts
fact_caching_timeout = 1800
fact_caching = jsonfile
forks = 20
gathering = smart
inventory = ~/src/softwarefactory-project.io/software-factory/sf-infra/ansible/hosts.yaml
# Disable yaml callback, it is too verbose with openstack
# stdout_callback = yaml
roles_path = ~/src/softwarefactory-project.io/software-factory/sf-infra/roles/:~/src/github.com/ansible-community/ara/roles/:~/src/review.rdoproject.org/rdo-infra/rdo-infra-playbooks/roles/rdo-infra/:~/src/gitlab.com/osas/ansible-role-ah-httpd.git:~/src/gitlab.com/osas/ansible-role-msmtp.git:~/src/github.com/OSAS/ansible-role-web_builder
callback_plugins = ~/.ara/virtualenv/lib/python3.7/site-packages/ara/plugins/callback
vault_password_file = ~/.ansible_vault

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60 -o StrictHostKeyChecking=no
pipelining = true
retries = 3

[ara]
api_client = http
api_server = http://127.0.0.1:8000
