[defaults]
callback_whitelist = profile_tasks, timer
fact_caching_connection = ~/.cache/ansible/facts
fact_caching_timeout = 1800
fact_caching = jsonfile
forks = 20
gathering = smart
inventory = ~/src/softwarefactory-project.io/software-factory/sf-infra/ansible/hosts.yaml
# Disable yaml callback, it is too verbose with openstack
# stdout_callback = yaml
roles_path = ~/src/softwarefactory-project.io/software-factory/sf-infra/roles/:~/src/review.rdoproject.org/rdo-infra/rdo-infra-playbooks/roles/rdo-infra/:~/src/review.rdoproject.org/rdo-infra/ansible-role-dlrn/roles:~/src/softwarefactory-project.io/software-factory/ansible-role-elastic-recheck/roles:~/src/opendev.org/openstack/ci-log-processing/ansible/roles
vault_password_file = ~/.ansible_vault
callback_plugins = /usr/lib/python3.7/site-packages/ara/plugins/callback

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60 -o StrictHostKeyChecking=no
pipelining = true
retries = 3

[ara]
api_client = http
api_server = https://ara.softwarefactory-project.io
api_username = bridge
# api_password provided by Zuul secret and supplied by the ARA_API_PASSWORD environment variable
