admin_group: "sf-admin"
bridge_groups: []
bridge_extra_ssh_keys:
  # ansible-role-dlrn project key, from https://softwarefactory-project.io/zuul/api/tenant/rdoproject.org/project-ssh-key/rdo-infra/ansible-role-dlrn.pub
  - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7m8y3dYs0EjOjsBxMjo6TmWcyS7D1yPI3RzQ9Bry6VFL2GXWGH5guCnXvBAGzDI53d/yEMCvXsed3/U8EoMaZhAuxYIiT3drM37nc9lu/tL2pfBG8p1SMXg2rGdtuAD/5H20VmNnKt29OKFbz4U27j5JrMVIqPS7XzpgC9E7JT7BKaoJiGUsb/ptawqBJT/lJwnciaGGfsEA+6a1RXNlcK/6tUZPmIbORcs1Y9AC/3gVKv4akBPm3EpMB98TiQKozgx2eLBW7osCmnKdsIZ9JNrRIJMyxB/lyvXUJV8qdiToV3qff5cJxB12SmbtZ6hLtgc1SoVdoYu8/xLDsr2s7"
  # rdo-infra-playbooks project key, from https://softwarefactory-project.io/zuul/api/tenant/rdoproject.org/project-ssh-key/rdo-infra/rdo-infra-playbooks.pub
  - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCukYDZELj/es6XONAGwF0+C6UXEwuYI+iL+ZQCdTsxXhQhFugvWP8Pqpzqq/dhz4bSDDbTYgBbrr2Rsj193xYPMXsS4aJFChjJQ0M0/yMHMNTeRiZurHdg0qtiaOJwh4bK7kzxDe3zBm1vK/TEl+HNAFwr73IPrkd95fCLk3bV++Z6/SvRxfKvkUs1imj4A8CUJs5mIqdV54a4aBdsrfPv5CB1ylPomkkKJyv6RfRxm2/ygBqD73GEHZ+LvdfiParVyY7SQZ9Pf3OJIj38WyV7KfXdwoAK8tnw+FFbhv2YwDHE8F+cXcS/ncFtdOGzwH2nP1joiMj/9sKErKmpOAlD"
bridge_users:
  dmsimard:
    name: "dmsimard"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBH7d5MTSlwAKp8ejbd0GNq0YUVXIzSunGXhFigNgl1oqrTapJIsJ6aGv3p400al5YKWua3Z/DzNftkz8VfermnsWli6SJAhcYPY7SDMTlFXKyTKLbG+k917v1QdtA2g6RqlfvfGSfYj6VwA7bNKjosrceN6GI+9HqY9nLcclQZ1xCr+wNShpfQrqlYKYBnI6JG26c8HfE/H3vSHKRsry4cscx+BDTlurMPF72zdrNGvbbV6LMxY6gbLj3xrCof1GxjU0PbXEMBdePWMxFqRb9do8+iz5noHUUTIElGIpFA2z40mdZ5w1FQYt/rYa1ehNTO25nXXhFTYgn2Y+fQb25"
  jpena:
    name: "jpena"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwEtxKw9XCxQUsUsRDxOpSo8+9KpX8lOlL0q9owdAb3W2YHv5d4XSlkZ78h7hDORoGLbNFEILBWb3pOJ+uDn7u7EtpZlKYqlJh3diHYCZuUETpG5WBbUExfDLLolbDdiihJKD06Y6wu8vzaDZSxrRrMuRo1PjmzsHKtoV7qip5a+jnFqPtE+DHVh8GhZkY2Qhbji0+fv4JUSLvcrLEJUIE5XHLG0BniJsTQCu4R05rBzd2gfTet95B7LSw1dNObvIVb8dnJBCQ5IFKblOAZp3M0EKdjmNdSTjgLlorqMN1F0YMi6unrfimPyH5pzd1Rnf2Cr2gcT+M55hcueHp86Lh"
  abreeds:
    name: "abreeds"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/ejplbHzy0s3HZsnwru7p/M4hRdo8Kzv2M04rgTchYNNlk+lOH5yA8iQP+Dgk/Tw6WvHIfyjxBrFlSlc6ZZEyDHSNUetrLbJbkKZgf1qbmusxFFvv9oCl8wwVc9wAfV7Wtfvg/HzdOjpmhXU7ReIBHqKJtGkbzUOIrsGAVk+ADacOtry8s/Y1xeIIVZ8oDWTs7lJhoWnIIPy1w2hvrTme4dfP19UFHNf8y/gl4dLXYNB4fHwaEAiS//W1m0s/EybcSJ+TBBB8cS3rjoC11JsNjY5RCV6v6LtLs+KT12kjLM4EqAHaicWg9aKjyNXmiNde6V1EZE4aUgYSsUFVcvSh RedHat-key"
  apevec:
    name: "apevec"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDYmpEuiWLuUFftIu+vQQmTC8m86GkNQXeNlrY9TRZtVqMZXEgIQuf9jeHZ89nKRX1eoRXH1NGk59RDiYVqOpp1NHRj+v7JjvdB8bkTCKYqyltLANRMO0gq+YAFSV7xY4DPskBLXswxhMY/5yCP9jlnXp6tdHIMfaQpdR/DjrXFt5QwrvXBbYUXoJUh/tAozlvj2w/qu41GAFPPKJ+wzl4M46YaEO39yMSbTue/g1Vn2XNWtX5Ocx41CeNFjbW5ghSJuvFHtHLG3sxT7YTwY/TTXLaVwZu4RwQEHqs9bnS6U7OWxjOxAMPuNnn3aMO/fHFheUGmmYETTfKfLXEv54UVUCq4/uqcD1UHwoddG7lQpdUmHpEBusgBc2sj+1Ysrt5EZ29iWI55Ke6FIxESOW73ttDsbgD8QC+IX2X3dhzvzI/9lKMScyO+JhzhzG3aOO9+wqqt/89Xdq3775J3IgePiDlOzcbvjIOsfgqmuaz5hPeqPLMcVThonOgl1UarsHeppyLRqykcUB0LqgmM3CGSCQaDfHulZMGfk3WsOHmj4eqW+gt4flKbzzvrB0W8ZPyCmQumqDTwZeI7EVnuNlTVUpdLZNMEjmgidEEM5aGuweA88QexefWdWwC+H9UbyL1R95Ka4f1Ek8n1oI/321nlA7ur4hLcB/c10yvWkwlFRQ=="
  fboucher:
    name: "fboucher"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDi8srMdr4EUBmEK8CGjOmUlEvC4bGZnmiATC3k5NxzcWC1pbT5JGLhAyMQr52FArWPV6qTs5cw/8JjBPv42Dhz8JxzLGVavXggzPdBWPKkGBMgZUiiolsGAPlZ0OAVGiQw61amQ0l/r7dumdlqNFpUTWwcLHYtZMG/RJWKAw9s3KhsQvPcIkzaJEDuanR426O4+qAmOBPD8veTWf3Gxdg4qqGYEBEEEvChyAFg0o83R1FsQMxtuox0CP4l5T6ecKHxJ0r9nym345KtgceavBAqraNJ2EOotAlPcDl/uXq2HzdV8kfOuxMso+AQvnKcHK6/JOsPepSwfGJabso8T+eyA8QoJ/LU2esFMjNCwUK0I4J9W0Tpy/2ZvJjZNnRfvS0ToRWcim0xSaGDsR17RpFe++oI9l+r3+kZGoyHeOqcz1WsRnBCd50OmcFWfXFA4cGZr91d9B6r3ZcGmnLci4yD6ikdd9qsacs7C1Tu0kJl8Wsp094YFt944AaaFYSAWJzw4/RW+QPeGAWKKieIdj4UzYGcn1Wi2j6odRDdWqq7Ei+Gy7PPtxaRALAdVVx4tDGkTPyEz1i/bGtec3Js06GrzPIBWitdg1uJumttZY//RVunevTkDT31cn295VWw/qe4J9fv+nUKRv+Xw+Q+nDLiP+6HkxL2q3UDjQOjYEY+Mw=="
  nhicher:
    name: "nhicher"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDcB2dFwG8DnJ12U3i/LFN2Llp825EK8K3j+Jht0/cBXDOQY2oNZLgqmuxGC65k6c2glSqboYMTwzfmLyZtBXKHIVSAP5m24vuBV+xwchR7GLQvtdAFz4Avu19GD8lGWszKjZN0QMlKJQd1YNtxjbZUxnApGlFhyMiwVkbOG87usIajQmRnPUhuN3lfMFXcBlbmupEWwIpueRshiypRlQBcYMfHnGpafDJfJ3vD2O2RvPfJy5FMktUdlJjBR75G2JO1alwOlfOhtYp5JBM0dUYYb5XexIMceCtemLTpQpU9lVxEdBKiweMzZS0v/JAxF3UKGCd/cabhQTZuMNZcgb2p"
  mhuin:
    name: "mhuin"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvgV8CDCv+p1wyShIJoT718icR6z5PuHDiHFuQSIYI246BUyWFParuaL75qfD8Dz7+AXnX+leC63mhU4nqzzzfocGxjCtvDUI9+hgcYaJyp4JbBQreGSHKcayZ7lG9Nnsy6YkpMZpx7a6/BgLMMq434osqibj59qus0L9q/oZHy2suJGUoeBT9Ohm82HPZU6Cuc4YYgG12h9A77YKRE4bd4TDTQWskxCkSyMv26U7DgNnR6fvpIGNLjdoykVL8BJPh11blpoUU5rJIp06Jpy7fqs1EsgkPiD0fuELS2KdkVO3j37Llq1YZbRJh7Ld+lp0fP9sz6xr/4V3dIMaFHgpx"
  tristanc:
    name: "tristanc"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINFW8lYSVF4cU/RYLHgm698ZwbF5jaVgQ549pwHD1PUg"
  zcaplovi:
    name: "zcaplovi"
    state: "absent"
    ssh_keys:
      - "none"
  dpawlik:
    name: "dpawlik"
    state: "absent"
    ssh_keys:
      - "none"
  duck:
    name: "duck"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINkTw3tpP6CFVAFKCGucuJUluJbgaqBInH91e8HyK46U duck@Zushi"
  misc:
    name: "misc"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCz0e6L1YAyBq10OuHouTZKZaNKsBzDD+FJXMQuduwQpZ2ps+krpKcewVdD+7C5VE/B4PO/3IH6c8pra8odbQLK1y9cU8kyQyn2PA+q792nDDfNqCyONmhzBozVJOGWh6jlxNrXU9GINGFxYpY7LZRGtQevDUzaOQcwsFapOm7vvswibkQbElJsfhwnXyu5z7vULQZeppqvaPlXdo/8lMp0glMG5BeObsQjr1xdPkzYmWxt6ql0nrKu8HKM5l6QRCCqNhTPYO6Rj9qrpQtax1fn3wqG/jqPfNFTMCZXcHNUBNmdibYJYVaMkqG2qLJL//kz4hITyWkGm+auc7EdTYIP misc@kiora/nano/main"
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC5Ehci8w5VC1U9dWazGK9uEgZtR6bmhY5jeYJACeaM9T967jJxNDSEZbvNsV6SRcExHec65lurZzv+iCH+K7HcuBlPno9cH5OfVNv+CrVB+rIIB237kZCgcmCB09W5wRc53bT4OV0vyghY8o+42cj1vkIfQBO6GHu2U4NLDEC+PTDvaxYefRydHGBZhQqas8f00Q6CyLBhLUeRiij9lHiOnbs6+yDw1UMtNWo/bRnmM7fWc2T+8CLM72vjhslXsiy/uFemrUxlG1lm21OVGdB1mj5sPl9aZ+WWYU3xBEIqEPm7Z5P41RQvLWK1XCm58cnQm55oQ/91knAlsEQ2r8zh misc@kiora/nano/backup"
  ykarel:
    name: "ykarel"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDD8aivX74oe3JCjNA9LHSBXfnZzbuzibJmK57xWQGMRanKgjPeBZja3OQ+p+1LF2YINflpR2/ZvtiTxCcdzBIQvebTBOcZFawgIsg5ML4Jv/Sdpu7U473oJAjkGcWncXn8+1JOUmCHQWcLD3CZ1yrLD1AG4j4qknpZz31lAsmyJVDE/kE4JAPJVzrumSfm5oBebhkLlr6kFXguIC+5NMtmP4RLC1+naf6LxTVLnFH6BENQnyerM5a/6t+KyPuHc5MQ3HtVZ4d7SYOa0tf5ybfC6edlGW9FA+vkekF9phZ2ub59gKWnD1evKzR6CFnW1igNzK0Fu7zKrmXrBDYmGDJ/ ykarel@yatinkarel"
  amoralej:
    name: "amoralej"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCzSWK0/apjniWnXflcSQE+XNFDc4bWvgWnhhXj++Woc9/O7w/TrPh+3GPh7YUaNX01DVB6YgXevGTN3qm1abrKDDhlUKfuI3HTACnrd8eZQhcoyJ/SQUspbnrbQXFDU9QEmPcvZqHXtkt0Y0ihfN04Y3ba1iYkHfysFqxMvJiwYzdOcV8JD5kULkvd5hXYRxj/rSHl1k83XwKwL6adtabhgzSrsxYhCJ0LzecGN+3l3vZvhkfzV6m8YgGFMS9UpXsLzk1rbwKr8zVnj4sTgk817kGqnyrEkbCYFfiOduDnkvTSY34bJ3+LW7dsgwOiKi9KyIFt9YqVYqnIR5xovMF1 amoralej@key"
  weshay:
    name: "weshay"
    state: "absent"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCs/fvCoMm/bOLehNLGEhWnMZfJndO4rK2Q8OOrYOAGKpMT5xiWZsPgxGai4vieZ2HmdyXBB2DX5g1FjwGJUWuxPRYT5vAQlseOfyTLqhkHaSmuWcpH6HuP+KvxWO9epyXP8pl7uZLsbVEr5207ER4bYLIg2bk2LRQqxnysG3t4VqbAV0V+YKrkkwwErsHDbLJyz2sqtJielpKZOCF+vFnzrUR3dmORZ4bchBnmf67CFAJqPd1zSU9Hn0fWZ5nVxJMk1o/bxqwIZ6E7a9Yw5bJl3ziGP5WfcSfati4LKGWI503SNwSWLOuL03j2LaLO3GgLSVFUo9eGT6KhN3dogWeaWXDDFvx+O0RfdZFL0+mRFl2Rz83QsJGFBm1JW2H1/W0vUxtXmZhUXFagSt75zh2AQPoatsYgUOCpC4qFSVRXFyZR0a1Q5JnqmtFrYDuIoMovdfelgKEnJ5xBNhmGLpJlRmSIiv4tRNYUvaU4fKnt/yLTtZNT+D7zM4KMUzNy8pqEbUugAGGxMlCs1YfzwOL4+OHxrDX5A5TlvTnjNBHmBWXDQJncXTewjTf1+6oLkGKHMSd8UsGjYTLWX1JepFcHUj5+SF5arVKz/gThvQlelpPzXZgK9MNUSKfU9GHQ79T14Kng9Cfx/BcUYsZmFmCgzj2M1neFD7M3kOFQ8PV2ow=="
  jcapitao:
    name: "jcapitao"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE5h253p77Ez3dboIen2BBM2r5z4QN3/bLUVRySWiJn0 jcapitao@redhat"
  fserucas:
    name: "fserucas"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDGuW1BgAD3UsNOfxGdKaHZGWFl2+ez7tKQVZYGa+WrFWJchpT3fThOLciI71x0n0kUot9twuv+7w7/+1+daHksanVx8kNcsCT9OgTuBgS3pmOcxvcZTLNcSAwmENjf4HcbDrIYFvXGnQP3LASLfYJZxMBGFuB3kcXyhXO1I/+uH1EVTlFcJ/XyO5/IjXe/wHU+t26xNHddHbrZco0R6TGnwTWoqdjDM4KHg2tq58yiH6AYxMrSMk5Shgn40o6RG5XkjAf5WZRXckc1Djq5U9wdJhPt5BEu0m/hhm/0Zl2YT+RLTBfLj3AS2mio+qpDL/Unuf/irSKEZb16YY5BgRySAj/73lLfVqBWm4dE/ncB3gVraMnB9UYTPRe2yD9VPDzyXB1pZcEaTB0Xv3s59B01URksmfKTa20twZvG86+I02m7zcBVSWjz/9kIP3mp2/l92U5meCTe3pFMEbFsaQZsiohq3x+/lC3xFrHGte553QLREFrALDkB3T02jfAjwu0= fserucas@spaceship"
  tcalanch:
    name: "tcalanch"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDm23YKLTpcffvTMlNEp9uypcYUATkZQtg8JdXZAbK34ETN+hxeTsvvdhgDBw4zv71sEfqbr22+y6Vkvsq6cUDz4o8J0bD16b6xehyRxHnHwHVI8oYXFmJjL17ZAG6wkqGP+FeQ5gC1pUSD3T6017+W76+DI3J2dIVP8U1W5NzVo7RmHkYSeHD5roA6z1GpyQ7X7DK5eOh5OwmYGxusc4zLJUnzkmfdzu3g1wJu/jVY2ZbCFGjDsGWhd/F6u1NioXnAqAV18m4KPcDxdsdO33m4caVEsNt7hmJjnbLECjkGLz38dTN6ENtzV1BF6RySuZkQki+1jKkET3CLgxlN76UjgPV7mxzx9PxjMgtuvbtSfpjpx+yYX2SGuQnVPy8YPMOxRhxHcmtsAkMIIABOx1sga0qyDm84fdZul6DDEqaJTwU2vC6K2Vv+gl083bB8WOiDhaASRCUWwoDn+PSVO4vM5LzbOp/p0Inzg+cOXyA57nlEQBUZlVwOaV4QaHFOUgJ09druXqFD2Qktuzec7xxLSHmxZRc5Jlq0FdPLbG9A9aWsqbMCSt6KE4MTyAdwHHyvXjTY/7xGhddjNBxYUK30toWhdiFmulDWCQlklyZyuP6nq8dcsgfUezVfsawZVajr+AkbbpzJR9611QdEAnv6CNiib/ky4c43FXS/wCRE9w== tcalanch@redhat.com"
  gleboude:
    name: "gleboude"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBHtxkZefFzQPFkHq0gvwFr0fbb1vp12eVZ9HQGOzLrbLR6k4sSUNz8pJOhYRmOUjqHvF8ErD9yd0HGUxkfJoSf8="
  gomathiselvis:
    name: "gomathiselvis"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChvWGP5I66E3ZZat0D1jpTXbZN5aeM3Ky+dlM6LBESVKtxP1Ee4hbxei3mWBz/nJQcWqXZEEzBab6BsORk8+kt3RSpap08DHY5UMGaXZJzXWr6Iqj8Voz6+GxWBiBmpPrZc2cWKedmL4PsSDFX9X0Bz8bOllSnk1CFGiEISv0GNzDFGjqjAuXYFlCB4EDNnNvsexuT6DUnDPhpl8nTabI0AzU8d22QGfb2X4iUEt/rtogRpSS/ftZcYoVxmZKk/yLo8LvuohiS1IqACIyzDYtwb2oBVYV+Fd0fdkkvnyERS8oxjnQVC9XwSK8aXj+TlQn2oYtgw7CzJyvbkmSXGvq0wTL0lHhM6loGodM6yUI6W3HD17bkDlJbiIP1NroLtaDlQ6XIlH9XOs151hwHM3ED7fDLjXfkxa2NlvvuMYNkgq0seDmalcjJyPQuEOd4OCLyfhiiNkqlge9aNPgFl0H+gxnsqPzLe6eOE++8EJ91btLAe9xEzilvG8qVHIyXWaNo62PguUBMX7zUeKkLFxWxWCln10B5QIEZ70xbMv/mmD09jynduaQS/qk1tt9zq0P4EbOwB6wIbbTXUERiMC0OJN5W+YBhsaqLzUAEqjzMJ9RKfnsQifh8lgt4oh3/i5dKQn4RPHZCac1ipHcEPsL4jXLc3pCd4LP5GdksCCbhVQ== gomathiselvi@gmail.com"
  kkula:
    name: "kkula"
    state: "absent"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIgA4eGfos77YSFgVIDHXGROJufQm3Y906GY5ca/VyfC"
  evallesp:
    name: "evallesp"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIASASQOH2BcOyLKuuDOdWZlPi2orcjcA8q4400T73DLH"
  vcherkas:
    name: "vcherkas"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDJHZ4TEcbFRJsQBv8wOxeUSnsi4b4nwvn3rOzeeutbVsmFuGbuEWdp3fqDcHmnC5pZXKN9Atn9inqrFQbg36I48C+t9NBELeISyT4aM8Og7WfUHcxsMmBa3oj5GaUsMzT5t9meTnill7+06L5grq2xkWSSv6FVRi2EIn4P/DurbpXSoyXfwo9Vj9oUvpbon7HJmASfU6Q3vYANZuDAdK1UQ6Fx1Ye9Gz8Jl56mhsxKe3Tpq0VikKRZZbHs0QpCPm6MXS3LSOOUe3+FMWJR8k6jyVx+8Cvsj8mkzqUianUyU/Ez5pXlN9o7WjbkGkcqTjefzq0yFupaS9m3utcSnmDt vcherkas@redhat.com"
  autkin:
    name: "autkin"
    groups:
      - "{{ admin_group }}"
    ssh_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGFbDRZ3pr1ufJyYC9wd3654kjgLuC873MXzzp8GVWAf autkin@redhat.com"
