<VirtualHost *:80>
    ServerName {{ fqdn }}
    HostnameLookups On
    RewriteEngine On
    DocumentRoot /var/www/html
</VirtualHost>
{% if _tls_cert.stat.exists %}

<VirtualHost *:443>
    ServerName {{ fqdn }}
    HostnameLookups On
    RewriteEngine On
    DocumentRoot /var/www/html

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ fqdn }}/cert.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ fqdn }}/privkey.pem
</VirtualHost>
{% endif %}
