class { "::openstackci::mirror":
  vhost_name  => "{{ afs_mirror_fqdn }}",
  mirror_root => "/afs/openstack.org/mirror",
}

class { "openafs::client":
  cell         => "openstack.org",
  realm        => "OPENSTACK.ORG",
  admin_server => "kdc.openstack.org",
  cache_size   => 50000000,  # 50GB
  kdcs         => [
    "kdc01.openstack.org",
    "kdc02.openstack.org",
  ],
}
