bots:
  - import: (data)/meta/default-config.yaml
  - name: allow-git
    expression:
      all:
        - '"User-Agent" in headers'
        - 'userAgent.contains("git/")'
      action: ALLOW
{% if anubis_allowed_ip_ranges|length > 0 %}
  - name: allowed-ip-ranges
    action: ALLOW
    remote_addresses:
{% for ip_range in anubis_allowed_ip_ranges %}
      - {{ ip_range }}
{% endfor %}
{% endif %}
  - name: challenge-every-user-Agent
    user_agent_regex: "."
    action: CHALLENGE
