bots:
{% if anubis_allowed_ip_ranges|length > 0 %}
  - name: allowed-ip-ranges
    action: ALLOW
    remote_addresses:
{% for ip_range in anubis_allowed_ip_ranges %}
      - {{ ip_range }}
{% endfor %}
{% endif %}
  - name: allow-dhall
    user_agent_regex: dhall
    action: ALLOW
  - import: (data)/clients/git.yaml
  - import: (data)/meta/default-config.yaml
  - name: challenge-mozilla
    user_agent_regex: Mozilla
    action: CHALLENGE
