# Copyright (C) 2026 Red Hat
# SPDX-License-Identifier: Apache-2.0

# The purpose of this playbook is to apply the resources defined in /etc/sf.
#
# This playbook is intentionally kept flat, without any external logic,
# so that every variable is used directly, without indirection nor abstraction.

- hosts: bridge.softwarefactory-project.io
  gather_facts: yes
  tasks:
  - name: Deploy networking resources
    ansible.builtin.command: kubectl apply -f files/centos-infra/networking.yaml
    environment:
      KUBECONFIG: "/etc/sf/prod-centos/kubeconfig"

  - name: Deploy prometheus resources
    ansible.builtin.command: kubectl apply -f files/centos-infra/prometheus-resources.yaml
    environment:
      KUBECONFIG: "/etc/sf/prod-centos/kubeconfig"

  - name: Deploy software factory control plane
    ansible.builtin.command: sf-operator {{ sf_operator_standalone_release }} deploy /etc/sf/prod-centos/sf.yaml

  - name: Deploy software factory executors
    ansible.builtin.command: sf-operator {{ sf_operator_standalone_release }} deploy /etc/sf/prod-centos/sf.yaml --remote /etc/sf/prod-centos/executors/{{ item }}/sf.yaml
    loop: "{{ groups['centos-infra-zuul-executors'] }}"

  # Enable builder connection
  - name: Get nodepool builder key
    ansible.builtin.command: kubectl get secret nodepool-builder-ssh-key -o jsonpath={.data.pub}
    register: builder_pubkey
    environment:
      KUBECONFIG: "/etc/sf/prod-centos/kubeconfig"

- hosts: image-builder.softwarefactory-project.io
  gather_facts: yes
  become: true
  tasks:
    - name: Add builder key to image-builder
      ansible.posix.authorized_key:
        user: zuul
        state: present
        key: "{{ hostvars['bridge.softwarefactory-project.io']['builder_pubkey'].stdout | b64decode }}"
