# This playbook is running from the bridge (nested in zuul job)
---
- hosts: bridge.softwarefactory-project.io
  gather_facts: yes
  vars:
    clouds:
      - {name: 'vexxhost-rdo', tenant: 'infra-rdo'}
      - {name: 'vexxhost-rdo', tenant: 'infra-sf'}
      - {name: 'vexxhost-rdo', tenant: 'nodepool-sf'}
      - {name: 'vexxhost-rdo', tenant: 'nodepool-tripleo'}
      - {name: 'vexxhost-rdo', tenant: 'nodepool-rdo'}
  tasks:
    - name: Ensure ansible requirements
      command: ansible-galaxy install -r ../requirements.yml

    - ansible.builtin.include_tasks: tasks/configure-tenant.yaml
      loop: "{{ clouds }}"
      loop_control:
        loop_var: cloud
