---
# Hack to prevent ansible_user_dir to be /root on the bridge
- hosts: bridge.softwarefactory-project.io
  tasks:
    - name: Clear facts cache
      ansible.builtin.meta: clear_facts

- hosts: centos-infra-zuul-executors
  roles:
    - service/hostname
    - system/rhel-subscription
    - system/rhel-setup

- hosts: centos-infra-zuul-executors
  pre_tasks:
    - name: Install requirements (rpms)
      become: true
      ansible.builtin.package:
        name:
          - python3
          - python3-pip

    - name: Install requirements (pip)
      become: true
      ansible.builtin.pip:
        name: "kubernetes"
  roles:
    - system/volume
    # The install-golang role is available on gerrit on the sf-operator project
    # the project has been removed from sf-io's Zuul due to conflict with the
    # centos's Zuul
    # - install-golang
    - sf/setup-microshift
    - sf/k9s
    - service/node-exporter

- name: Setup resources
  ansible.builtin.import_playbook: prepare-resources.yaml

- name: Apply resources
  ansible.builtin.import_playbook: apply-resources.yaml
