---
- hosts: rhel
  roles:
    - system/rhel-subscription
    - system/rhel-setup

- hosts: rdo
  roles:
    - legacy/centos7
    - system/tune-dnf
    - infra/base
    - service/node-exporter
    - system/psi
    - system/podman
    - system/journald

- hosts: backup-rdo
  roles:
    - service/backup-client

- hosts: backup-server
  roles:
    - system/volume
    - service/hostname
    - rdo/backup-monitoring
    - rdo/backup-srv

- hosts: baremetal
  tasks:
    - name: Read .rhel_secrets.yaml
      ansible.builtin.include_vars:
        file: ~/.rhel_secrets.yaml
      delegate_to: localhost
      no_log: yes

    - name: Register system
      ansible.builtin.include_role:
        name: rdo/ibm-redhat-subscription

    - name: Base configuration
      ansible.builtin.include_role:
        name: rdo/ibm-baremetal-setup

    - name: Ensure configuration roles
      ansible.builtin.include_role:
        name: "{{ item }}"
      loop:
        - infra/ssh
        - system/volume
        - service/node-exporter
        - system/psi

- hosts: mirror.regionone.vexxhost.rdoproject.org
  roles:
    - service/setup-ssl
    - rdo/afs-mirror
    - rdo/afs-monitoring
    - service/apache-exporter

- hosts: private-afs-mirror
  roles:
    - rdo/setup-ssl-self-signed
    - rdo/afs-mirror
    - service/node-exporter
    - system/psi

- hosts: rdo
  roles:
    - infra/ssh

- hosts: managesf.review.rdoproject.org
  tasks:
    # TODO uncomment after rhel-9 migration
    # - name: Install bits for sf-config
    #   ansible.builtin.include_role:
    #     name: infra/install-server
    #     tasks_from: setup
  roles:
    - infra/install-server
    - service/acme-tiny
    - service/apache-exporter
    - service/hostname
    - infra/robots-disallow
    - service/anubis

- hosts: logserver.rdoproject.org
  roles:
    - rdo/logserver
    - service/hostname
    - service/setup-ssl
    - system/volume
    - service/apache-exporter

- hosts: quay.rdoproject.org
  pre_tasks:
    - name: Setup Quay partition
      # NOTE: take care: some variables are devices and some device.
      vars:
        lvm: "{{ partitions['quay']['lvm'] | default('') }}"
        devices: "{{ partitions['quay']['devices'] | default('') }}"
        mountpoint: "{{ partitions['quay']['mountpoint'] | default('') }}"
        vg_name: "{{ partitions['quay']['vg_name'] | default('') }}"
        lv_name: "{{ partitions['quay']['lv_name'] | default('') }}"
      ansible.builtin.include_role:
        name: system/volume
    - name: Setup Postgres partition
      vars:
        lvm: "{{ partitions['db']['lvm'] | default('') }}"
        device: "{{ partitions['db']['device'] | default('') }}"
        mountpoint: "{{ partitions['db']['mountpoint'] | default('') }}"
      ansible.builtin.include_role:
        name: system/volume
  roles:
    - system/swap
    - service/hostname
    - service/setup-ssl
    - rdo/quay
    - rdo/quay-project-creation
  vars:
    self_signed_certs: false
    initial_config: false
    # Use standalone server to get SSL certs from certbot
    additional_params: '--standalone'
    http_service_name: 'standalone'

- hosts: opensearch.rdoproject.org
  pre_tasks:
    - name: Setup Opensearch partition
      vars:
        lvm: "{{ partitions['opensearch']['lvm'] | default('') }}"
        devices: "{{ partitions['opensearch']['devices'] | list | default('') }}"
        mountpoint: "{{ partitions['opensearch']['mountpoint'] | default('') }}"
        vg_name: "{{ partitions['opensearch']['vg_name'] | default('') }}"
        lv_name: "{{ partitions['opensearch']['lv_name'] | default('') }}"
      ansible.builtin.include_role:
        name: system/volume
  roles:
    - service/hostname
    - service/opensearch-monitoring
    - service/setup-ssl
    - {name: ansible-role-elastic-recheck, become: true}
    - service/apache-exporter
