logging:
  level: DEBUG
broker:
  url: softwarefactory-project.io
  port: 1883
hooks:
{% for x in taiga %}
  SFTaigaIO:
    - project: {{ x.sf_projects_regex }}
      auth:
        username: {{ firehooks_credentials[x.credentials].user }}
        password: {{ firehooks_credentials[x.credentials].password }}
      taiga_project: {{ x.project }}
{% endfor %}
