[client]
user={{ mysqld_exporter_user | default('root') }}
password={{ mysqld_exporter_password | default('') }}
host=localhost
{% if mysqld_exporter_use_ssl | default(false) %}
ssl-ca=/etc/mysqld_exporter/ssl/ca-cert.pem
ssl-cert=/etc/mysqld_exporter/ssl/client-cert.pem
ssl-key=/etc/mysqld_exporter/ssl/client-key.pem
{% endif %}
